name: Deploy Kafka Topics + Kafka Connectors
on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
      kafka:
        required: true
        type: string
      project:
        required: true
        type: string

jobs:
  deploy-topics:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - topic: data-innlop-v2
          - topic: data-soknad-faktum-v1
          - topic: data-soknad-tilstand-v1
          - topic: data-soknad-dokumentkrav-v1
          - topic: data-behandling-v1
          - topic: data-vedtak-v1
          - topic: data-behandling-tilstand-v1
          - topic: data-oppgave-alfa-v6
            connector: .nais/kafka/oppgave-connector.yaml
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/kafka/topic.yaml,${{ matrix.connector || '.nais/kafka/connector.yaml' }}
          VAR: topic=${{ matrix.topic }},kafka=${{ inputs.kafka }},project=${{ inputs.project }}
          PRINT_PAYLOAD: true