name: Deploy BigQuery Views
on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
      project:
        required: true
        type: string

jobs:
  deploy-innlop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/views/dagpenger-innlop.yaml,.nais/views/dagpengesoknad-faktum-svar.yaml,.nais/views/dagpenger-behandling.yaml,.nais/views/behandling-tilstand.yaml,.nais/views/dagpenger-saksbehandlingstid.yaml,
          VAR: project=${{ inputs.project }}
          PRINT_PAYLOAD: true

  deploy-soknad:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/views/dagpengesoknad-faktum-svar.yaml
          VAR: project=${{ inputs.project }}
          PRINT_PAYLOAD: true

  deploy-behandling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/views/dagpenger-behandling.yaml,.nais/views/behandling-tilstand.yaml,.nais/views/dagpenger-saksbehandlingstid.yaml,
          VAR: project=${{ inputs.project }}
          PRINT_PAYLOAD: true
